@media screen and (min-width: 1200px) and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }

  .about-containers {
    flex-wrap: wrap;
  }

  .project-description {
    margin: 2rem 0;
    padding-right: 2rem;
  }
}

/* LAPTOP */
@media screen and (max-width: 1199px) {
  #desktop-nav {
    display: none;
  }

  #hamburguer-nav {
    display: flex;
    justify-content: space-between;
    padding: 0 6vw;
  }

  .experience,
  .experience-details-container {
    margin-top: 2rem;
  }

  #profile,
  .section-container {
    display: block;
  }

  .arrow {
    display: none;
  }

  section,
  .section-container {
    height: fit-content;
  }

  section {
    margin: 0 5%;
  }

  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }

  .about-containers {
    margin-top: 0;
  }

  .project-img-container {
    width: 350px;
  }
}

/* TABLET */
@media screen and (min-width: 600px) and (max-width: 899px) {
}

/* MOBILE */
@media screen and (max-width: 599px) {
  #contact,
  .footer {
    height: 40vh;
  }

  #profile {
    height: 83vh;
    margin-bottom: 0;
  }

  article {
    font-size: 1rem;
  }

  .footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }

  #about {
    margin-bottom: 5rem;
  }

  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }

  .projects-details-container {
    padding: 0;
    /* margin: 6em 0; */
  }

  #projects {
    margin-bottom: 5rem;
  }

  .project {
    width: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
  }

  .project-left {
    width: 100%;
  }

  .project-img-container {
    width: 100%;
    height: fit-content;
  }

  .project-img {
    overflow: hidden;
  }

  .project-right-2 {
    align-items: center;
  }

  .project-description{
    margin-right: 0;
  }

  .contact-info-upper-container {
    margin: 0;
  }

  .contact-info-upper-container p,
  .nav-links li a {
    font-size: 1rem;
  }

  .experience-sub-title {
    font-size: 1.25rem;
  }

  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }

  .section__text__p2 {
    font-size: 1.25rem;
  }

  .title {
    font-size: 2rem;
  }

  .text-container {
    padding: 0 0.5rem;
  }
}
